section, header, nav {
    padding-left:25px;
    padding-top:25px;
}

nav ul {
    list-style-type:none;
    margin:0;
    padding:0;
}

nav ul li {
    display:inline;
    background-color:#E5EFE5;
    padding:5px;
    margin-right:5px;
}
